@charset "utf-8";
/* CSS Document by Shu Zhang*/
body {
	background-image: url('../images/Goal.jpg'); 
	background-position:center; 
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-color: #ffffff;
	text-align: center;	
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* registration page */
#registration {	
	width: 55%;	
	padding-top: 50px;
	overflow: auto;
	border: 1px solid #FFFFFF;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

	.regititle {
		width: 100%;
		height: 60px;
		padding-top: 30px;
		margin-bottom: 5px;
		border-bottom: 1px solid #FFFFFF;
		font-size: 25px;
		font-weight: bold;
		color: #6a6a6a;
		text-align: center;
		background-color: #ececec;
	}
	

	#registration form {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		padding-top: 10px;
		padding-bottom: 10px;
		z-index:-1;
		overflow: auto;
	}
		
	.personalinfo {
		margin-top: 5px;
		width: 100%;
		height: 50px;
	}						
												
		.personalinfo input.form_input, textarea.form_input, select {
			width: 230px;
			float: left;
			padding: 2px;			
			height: 30px;
			border: 2px solid #6297BC;
		}
		.personalinfo label {
			display:block;
			clear:left;
			float:left;
			text-align: right;
			margin-left: 100px;
			width: 230px;
			padding-top: 4px;
			font-size: 18px;
			margin-right: 5px;
			color:#666;						
		}
	/*makesure the dropdown box has same width with textbox */	
	#registration select {
		width: 208px;
	}						

	#registration textarea.form_input	{
		height: 100px;
	}
	
	#registration select:focus {
		border: 2px solid #FF6600;
	}

		#registration textarea.form_input:focus, input.form_input:focus {
			border: 2px solid #FF6600;
		}
		
			#registration form input.submit-button {
				width: 100px;				
			}				
		
	#registration .errordesp {
		font-size:12px;
		color:#F00;			
		float:left;
		width:180px;				
		height: 30px;
		text-align:left;
		padding-left: 3px;
	}
	
	.info{
		float:left;
		text-align: left;
		margin-left: 100px;
		width: 230px;
		padding-top: 4px;
		font-size: 18px;
		margin-right: 5px;
		color:#666;			
	}
		
/* end of registration page */